body{
	background-color: #3F51B5;
	font-family: helvetica;
	text-align: center;
	color: white;
}

h2{
	font-size: 64px;
}

h4{
	font-size: 36px;
	font-style:italic;

}

a{
    border: 2px solid white;
    background-color: #3F51B5;
    color: white;
    padding: 30px;
    margin: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
    transition-duration: 0.4s;
    font-size: 36px;
    text-align: center;
}

a:hover {
    background-color: white; 
    color: #3F51B5;
}

.filler{
	display: block;
	height:150px;
}